.list-container-wrapper {
  padding: 0.75rem;
  width: 33.33%;
  border: 1px red solid;
}
.list-container {
  padding: 0.75rem;
  background-color: #e5e7eb;
}
.list-title {
  margin-bottom: 1rem;
}
.card-new {
  margin-bottom: 0.75rem;
}
.list-add-container {
  padding: 0.75rem;
  background-color: #e5e7eb;
  width: 33.33%;
}
.list-add {
  padding: 0.75rem;
  background-color: #e5e7eb;
}
