*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    min-width: 100vw;
    min-height: 100vh;
    /* background: url("https://luna1.co/f5de90.png")  ; */
    background-color: rgba(204, 204, 204, 0.3);
    display: flex;
    justify-content: center;
}

.box{
    width: 700px;
    min-height: 100vh;
    background-color: #fff;
    border-radius: 20px;
    margin: 15px;
    
}
.card{
    display:flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 15px;
}
.icon{
    display: flex;
}

.laptop{
    margin: 15px;
    justify-content: start;
}
.cardname{
margin: 10px 15px;
text-align: start;
}

.close{
    margin-right: 50px;
    
}
.notification{
    display: flex;
    flex-direction: column;
    margin-top:20px;
    margin-left: 80px;
    
}
.notification p{
    text-align: start;
    font-size: small;
}
.notification div{
    text-align: start;
}
.eyeblock {
    display: flex;
    background-color: rgb(204, 204, 204);
    width: 150px;
    padding-left: 5px;
    border-radius: 5px;
    
}
.eyeblock h3{
    font-weight: 400;
}
.eye{
    margin: 5px;
}

.speaker{
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
}
.speakericon{
    margin:15px;
}

.description{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 10px;
}
.description h3{
    font-weight: 600;
}

.textbox{
    width: 575px;
}

.activity{
    display: flex;
    justify-content: space-between;
    margin-left:30px;
    margin-top: 25px;
}
.activityicon{
    display: flex;
}
.activityicon h3{
    margin-left:25px;
    font-weight:500;
}

.activity p{
    width:150px;
    background-color: rgb(204, 204, 204);
    margin-right: 45px;
    border-radius: 5px;
}
.comment{
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
}
.person{
    margin-right: 25px;
}
.commentbox{
    width: 575px;
}
.listname{
    display: flex;
}
.listname p{
    margin-right: 25px;
}